:root{
    --light-grey: #48483c;
    --mid-grey: #2c2c2a;
    --black: #0f0f0f;
    --light-green: #afca30;
    --mid-green: #709e22;
    --dark-green: #2b3d0b;
}

body{
    margin: 0;
    padding: 0;
}